@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1b1c19;
  background: #fbf9f4;
}

.ink-gradient {
  background: linear-gradient(45deg, #06274d, #223d64);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
